.event-integration-box {
    #event-content p {
        font-size: 16px;
        line-height: 1.5;
        max-width: 700px;
    }

    .featured-image {
        width:100%;
        height: auto;
    }
}

#event-gallery-box {
    img {
        padding: 10px 10px 5px 5px;
    }
}

.message-success {
    color: #33cc33;
}

.accept.hidden, .deny.hidden {
	display: none;
}

.accept.button-primary {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    text-shadow: 0 -1px 1px #398439,1px 0 1px #398439,0 1px 1px #398439,-1px 0 1px #398439;
    box-shadow: 0 1px 0 #398439;
}

.accept.button-primary:hover, .accept.button-primary:focus, .accept.button-primary:active {
    color: #fff;
    background-color:#449d44;
    border-color:#398439;
}

.accept.button-primary:active {
    -webkit-box-shadow:inset 0 2px 0 #398439;
    box-shadow:inset 0 2px 0 #398439;
}

.deny.button-primary {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    text-shadow: 0 -1px 1px #ac2925,1px 0 1px #ac2925,0 1px 1px #ac2925,-1px 0 1px #ac2925;
    box-shadow: 0 1px 0 #ac2925;
}

.deny.button-primary:hover, .deny.button-primary:focus, .deny.button-primary:active {
    color: #fff;
    background-color:#c9302c;
    border-color:#ac2925;
}

.deny.button-primary:active {
    -webkit-box-shadow:inset 0 2px 0 #ac2925;
    box-shadow:inset 0 2px 0 #ac2925;
}

.import-buttons {
    margin-bottom: 8px;
}

.import-buttons .button-primary {
    display: block;
    padding: 4px 8px;
    line-height: normal;
    height: auto;
}

#draw-map-area {
    height: 440px;
    width: 100%;
    border: 1px solid #e5e5e5;
}

#clear-draw-map {
    margin-bottom: 10px;
}

.emi_import-info {
    position: relative;
    margin-bottom: 8px; /* align with import button */
    margin-left: 0.2rem;
    color: black;
    cursor: default;
}

.emi_import-info:hover {
    background-color: lightgray;
}

.emi_import-info-status {
    padding: 0.3rem 0.5rem;
    background-color: inherit;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 0.2rem 0.2rem 0 0;
    position: relative;
    z-index: 2;
}

.emi_import-info:hover .emi_import-info-status {
    border-color: darkgray;
}

.emi_import-info:hover .emi_import-info-status::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    height: 0.3rem;
    background-color: lightgray;
    border-width: 0 1px;
    border-color: darkgray;
    border-style: solid;
}

.emi_import-info-data {
    display: none;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 0.5rem);
    background-color: inherit;
    padding: 0.5rem 0.75rem;
    border: 1px solid darkgray;
    border-radius: 0.2rem;
    width: 260px;
    white-space: normal;
}

.emi_import-info:hover > .emi_import-info-data {
    display: block;
}
